@media screen and (max-width: 479px){
  body {
    background-color: red;
    font-size: small;
  }
  #small {
  display: block;
  }
  #medium {
    display: block;
  }
  #Large {
    display: block;
  }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
  body {
    background-color: green;
    font-size: medium;
  }
  #small {
    display: block;
    float: left;
    width: 66%;
  }
  #medium {
    display: block;
    float: right ;
    width: 33%;
  }
  #Large {
    display: block;
    float: inline-end;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: blue;
    font-size: large;
  }
  #small {
    display: block;
    float: left;
    width: 30%;
  }
  #medium {
    display: block;
    float: right;
    width: 30%;
  }
  #Large {
    display: block;
    float: right;
    width: 30%;
  }
}

h1 + p {
  margin-top: 8px;
}

div {
  margin-bottom: 15px;
}

h1 {
  font-weight: bolder;
}
